.banner {
  background-image: url('https://bristol.riichi.page/assets/img/riverside%20riichi%20banner.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.2;
  box-shadow: 0 0 20px 20px var(--mat-sys-surface) inset;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 26.1%;
  z-index: -1;
}

.header {
  display: flex;

  @media (min-width: 900px) {
    flex-direction: row;
  }

  @media (max-width: 899px) {
    flex-direction: column;
  }
}

.title {
  flex: 100;
  font-size: x-large;
}

.link {
  flex: 1;
  text-align: right;
  margin-left: 50px;
}
