name: Deploy to GitHub Pages

on:
  workflow_dispatch:
  push:
      branches: ['main']

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24.x'
      - name: Install
        run: npm install
      - name: Deploy
        run: npm run deploy -- --base-href=/riverside-live/ --name=COMMIT_NAME --email=COMMIT_EMAIL
        env:
          CI: true
          GH_TOKEN: ${{ secrets.ANGULAR_CLI_GHPAGES_COMMIT_GH_TOKEN }}
          COMMIT_NAME: ${{ secrets.ANGULAR_CLI_GHPAGES_COMMIT_NAME }}
          COMMIT_EMAIL: ${{ secrets.ANGULAR_CLI_GHPAGES_COMMIT_EMAIL }}
